{% extends 'styles.jinja' %} {% block helper %}
<h1>{{ helper.cmd }}</h1>
<p class="doc">
    {{ helper.doc.replace("\n", "<br>") }}
</p>
<ul>
    {% if helper.use %}
    <li>
        <strong>使用方法</strong>
        <div class="useView">
            {% if is_chat %}
            <!--聊天例子-->
            {% for message in helper.use %} 
                {% if string(message) %}
                    <!--当如果是字符串，则当作用户聊天-->
                    <div class="userMsg">
                        <div class="user">用户</div>
                        <span class="msg">{{ message.replace("\n", "<br>") }}</span>
                    </div>
                {% else %}
                    <!--否则是对话形式内容-->
                    {% for msg in message %}
                    {% set msg_type = loop.cycle('userMsg', 'botMsg') %}
                    <!--0是用户聊天 1是机器人聊天-->
                    {% set msg_name = loop.cycle('用户', '机器人') %}
                        {% if string(msg) %}
                            <!--如果是字符串，表示单个消息-->
                            <div class="{{ msg_type }}">
                                <div class="user">{{ msg_name }}</div>
                                <span class="msg">{{ msg.replace("\n", "<br>") }}</span>
                            </div>
                        {% else %}
                            <!--否则是一个用户的多条消息-->
                            {% for m in msg %}
                            <div class="{{ msg_type }}">
                                <div class="user">{{ msg_name }}</div>
                                <span class="msg">{{ m.replace("\n", "<br>") }}</span>
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% else %}
                {{ helper.use.replace("\n", "<br>") }}
            {% endif %}
        </div>
    </li>
    {% endif %} {% if helper.params %}
    <li>
        <strong>参数</strong>
        <ul>
            {% for param in helper.params %}
            <li><code>{{ param }}</code></li>
            {% endfor %}
        </ul>
    </li>
    {% endif %} {% if helper.alias %}
    <li>
        <strong>别名</strong>
        <p>
            {% for alia in helper.alias %}
            <code>{{ alia }}</code> {% endfor %}
        </p>
    </li>
    {% endif %} {% if helper.tags %}
    <li>
        <strong>类型</strong>
        <p>
            {% for tag in helper.tags %}
            <code>{{ tag }}</code> {% endfor %}
        </p>
    </li>
    {% endif %}
</ul>
{% endblock helper %}