{% extends 'base.jinja' %}
{% block style %}
.all-money {
    text-align: center;
}

.progress-bar {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    background-color: #f0f0f0;
}

.progress-bar .remaining,
.progress-bar .progress,
.progress-bar .employ {
    height: 100%;
    width: 50%;
    text-align: center;
    border-radius: 12px;
}

.progress-bar .progress {
    background-color: #FF9966;
}

.progress-bar .employ {
    background-color: #FF6666;
}

.progress-bar .remaining {
    background-color: #99cc99;
}

.money-bar table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.money-bar table .t0 {
    border-bottom: 0.25em solid #99CC99;
}

.money-bar table .t1 {
    border-bottom: 0.25em solid #FF6666;
}

.money-bar table .t2 {
    border-bottom: 0.25em solid #FF9966;
}

.cost-list .cost {
    padding: 1em;
    border-top: 1px solid gainsboro;
}

.cost-list .cost table {
    width: 100%;
}

.cost-list .cost .type {
    font-weight: bold;
    font-size: 1.2em;
}

.cost-list .cost table .money {
    font-weight: bold;
    text-align: right;
}
{% endblock style %}
{% block body %}
<div class="all-money">
    <h2>{{ fee_time__year }}年{{ fee_time__month }}月{{ fee_time__day }}账单</h2>
</div>
<div class="money-bar">
    <table>
        <tbody>
            <tr>
                <td>总计收益</td>
                <td>总计支出</td>
                <td>占总支出</td>
                <td>剩余金额</td>
            </tr>
            <tr>
                <td>{{ round(total_income, 2) }}</td>
                <td>{{ round(total_expenditure, 2) }}</td>
                <td>{{ round(expenditure_ratio, 2) }}</td>
                <td>{{ round(remaining, 2) }}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
                <td width="80" align="right">
                    剩余金额
                </td>
                <td>
                    <div class="progress-bar">
                        {% set total_expenditure_per = per(total_expenditure, total_income) %}
                        {% set remaining_per = 100 - total_expenditure_per %}
                        <div class="remaining" style="width: {{ remaining_per }}%">
                            {{ remaining_per }}%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="80" align="right">
                    总计支出
                </td>
                <td>
                    <div class="progress-bar">
                        <div class="progress" style="width: {{ total_expenditure_per }}%">
                            {{ total_expenditure_per }}%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="80" align="right">
                    占总支出
                </td>
                <td>
                    <div class="progress-bar">
                        {% set employ_per = per(expenditure_ratio, total_expenditure) %}
                        <div class="employ" style="width: {{ employ_per }}%">
                            {{ employ_per }}%
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="cost-list">
    {% for cost in costs %}
    <div class="cost">
        <div class="type">{{ cost.fee_type }}</div>
        <table>
            <tbody>
                <tr>
                    <td>记账人</td>
                    <td>{{ cost.invitee }}</td>
                    <td colspan="2" width="100" class="money" style="color: {{ "red" if cost.fee_money < 0 else "green" }}">{{ cost.fee_money }}</td>
                </tr>
                <tr>
                    <td>支出时间</td>
                    <td>{{ cost.fee_time }}</td>
                </tr>
                <tr>
                    <td>账单ID</td>
                    <td>{{ cost.fee_id }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock body %}