<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    img {
        width: 100px;
        height: 100px;
    }

    .address {
        display: flex;
        align-items: center;
    }

    .address div {
        white-space: nowrap;
    }
    </style>
</head>

<body>
    {% for i in address %}
    <div class="address">
        <div>{{ i.name }}</div>
        <img src="data:image/png;base64,{{ i.image }}">
    </div>
    {% endfor %}
</body>

</html>