{% extends "base.jinja" %}
{% block style %}
body {
    margin: 1em;
    background-color: #eee;
}

.task-box {
    border-radius: 12px;
    margin-bottom: 1em;
    padding: 1em;
    background-color: white;
}

.task-box h2 {
    margin: 0.2em 0;
}
.task-box h2 .class-name {
    padding: 0 8px;
    color: #FF6666;
    border-right: 3px solid #333;
}

.task-box table {
    width: 100%;
    margin: 1em;
}

.task-box table td {
    width: 50%;
}

.loading {
    display: table-row;
}

.loading .number {
    display: table-cell;
    padding: 0 12px;
    line-height: 12px;
}

.progress-bar,
.progress {
    border-radius: 16px;
}

.progress-bar {
    overflow: hidden;
    display: table-cell;
    width: 100%;
    height: 12px;
    margin: 0.6em 0;
    background-color: #eee;
}

.progress {
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: #99CCFF;
}

.class-task .title {
    text-align: center;
}
{% endblock style %}
{% block body %}
{% if msg %}
<h1>{{ msg }}</h1>
{% endif %}
{% for task, task_size in zip(tasks, tasks_size) %}
<div class="task-box">
    <h2>
        <span class="class-name">{{ task.class_field.class_name }}</span>
        {{ task.title }}
    </h2>
    <table>
        <tbody>
            <tr>
                <td>任务ID</td>
                <td>{{ task.task_id }}</td>
            </tr>
            <tr>
                <td>创建人</td>
                <td>{{ task.initiate }}</td>
            </tr>
            <tr>
                <td>任务类型</td>
                <td>{{ task.type }}</td>
            </tr>
            <tr>
                <td>创建时间</td>
                <td>{{ task.create_time }}</td>
            </tr>
        </tbody>
    </table>
    <div class="loading">
        {% set cs = class_size(task.class_field) %}
        {% set ts = task_size %}
        {% set per = ts / cs * 100 // 1 %}
        <div class="progress-bar">
            <div class="progress" style="width: {{ per }}%;">{{ per }}%</div>
        </div>
        <span class="number">{{ cs }}/{{ ts }}</span>
    </div>
</div>
{% endfor %}
{% endblock body %}