{% extends 'base.jinja' %}
{% block style %}
body {
    background-color: #625cda;
    padding: 3em;
    margin: 0;
}

.main {
    background-color: white;
    border-radius: 20px;
    padding: 1em;
}

.main .messages {
    border-radius: 10px;
    border: 1px solid #d9dde0;
    margin: 0 2em;
    margin-bottom: 1.5em;
    overflow: hidden;
}

.msg-img {
    width: 100%;
}

.main .messages .message {
    border-top: 1px solid #d9dde0;
    padding: 1em;
}

.main .messages .message .text {
    font-weight: bold;
    font-size: 1.1em;
}

.log img {
    width: 50px;
    border-radius: 100px;
    margin-right: 16px;
}

.log { vertical-align: top; }
.svg { vertical-align: bottom; }
.time { color: #848386; }
.lid { color: #111; }
.text { width: 100%; }
table { width: 100%; }

.header {
    padding: 1em;
    position: relative;
}

.header span {
    font-size: 1.2em;
    position: absolute;
    top: 30%;
    margin: 0 0.5em;
}
{% endblock style %}